# Ignore output files
Estimation/*.xlsx
Estimation/*.csv
!Estimation/*.png
*.xlsx
*.csv

# Ignore Jupyter
*.ipynb
.ipynb_checkpoints/

# Ignore Python cache
Models/__pycache__/
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
venv/
env/

# Ignore VSCode settings (optional)
.vscode/